In [65]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.ensemble import GradientBoostingRegressor

In [42]:
intc = pd.read_csv('INTC.csv')

In [56]:
intc['Date'] = pd.to_datetime(intc['Date'])

In [57]:
intc.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Name      0
dtype: int64

In [58]:
intc.describe()

              Open         High          Low       Close        Volume
count  3019.000000  3019.000000  3019.000000  3019.00000  3.019000e+03
mean     25.396744    25.659096    25.142136    25.40789  4.919834e+07
std       6.715544     6.728572     6.700110     6.72870  2.817910e+07
min      12.170000    12.630000    12.050000    12.08000  5.893789e+06
25%      20.645000    20.880000    20.415000    20.66000  2.736445e+07
50%      23.600000    23.860000    23.320000    23.58000  4.519099e+07
75%      30.810000    31.105000    30.500000    30.85500  6.363350e+07
max      47.540000    47.640000    46.660000    47.56000  3.100734e+08

In [106]:
intc.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
Name              object
dtype: object

In [109]:
intc_vals = intc.drop('Date', axis = 1)
intc_targs = intc_vals['Close'].shift(-30)

In [117]:
X_vals = intc.set_index('Date').groupby(pd.Grouper(freq = 'M')).mean()

In [118]:
X_vals

                 Open       High        Low      Close        Volume
Date
2006-01-31  23.962000  24.150500  23.642500  23.837000  9.278663e+07
2006-02-28  20.869474  21.081053  20.669474  20.846316  8.372795e+07
2006-03-31  19.930870  20.156957  19.727826  19.876957  8.424454e+07
2006-04-30  19.350526  19.642105  19.166842  19.373684  7.896947e+07
2006-05-31  18.940455  19.173636  18.716364  18.867273  7.627099e+07
2006-06-30  18.025455  18.241364  17.820909  18.008182  7.321637e+07
2006-07-31  18.073500  18.329500  17.821500  18.040500  6.369070e+07
2006-08-31  18.213913  18.410870  18.035652  18.251304  5.606090e+07
2006-09-30  19.664000  19.910500  19.470500  19.702000  6.985784e+07
2006-10-31  21.097727  21.352727  20.906364  21.135000  7.226709e+07
2006-11-30  21.251905  21.508095  21.014286  21.284286  5.631576e+07
2006-12-31  20.735500  20.920500  20.516000  20.656500  4.561249e+07
2007-01-31  21.036500  21.265500  20.780500  21.056500  8.089901e+07
2007-02-28  21.014211  21.162105  20.823684  20.986316  6.201639e+07
2007-03-31  19.209091  19.350909  19.034545  19.190455  6.289001e+07
2007-04-30  20.789000  21.019500  20.651000  20.908500  7.406766e+07
2007-05-31  22.241364  22.423636  22.028182  22.211818  5.835280e+07
2007-06-30  23.002857  23.317619  22.811429  23.042381  6.358942e+07
2007-07-31  24.722381  25.022381  24.530476  24.786667  7.151058e+07
2007-08-31  24.146087  24.483043  23.848696  24.190870  6.671230e+07
2007-09-30  25.660000  25.928421  25.443684  25.661053  6.242766e+07
2007-10-31  26.074348  26.323478  25.767391  26.086522  6.810819e+07
2007-11-30  25.915238  26.213333  25.486190  25.829048  6.515602e+07
2007-12-31  26.837000  27.155000  26.539500  26.856500  4.718015e+07
2008-01-31  21.545238  21.934286  21.055238  21.474762  1.176222e+08
2008-02-29  20.467000  20.785500  20.173500  20.460500  7.308502e+07
2008-03-31  20.892500  21.269500  20.647500  20.964500  6.783349e+07
2008-04-30  22.004545  22.226818  21.684091  21.974091  5.826747e+07
2008-05-31  23.673333  23.998571  23.393333  23.721905  5.446592e+07
2008-06-30  22.562381  22.942381  22.282381  22.536667  5.412893e+07
...               ...        ...        ...        ...           ...
2015-07-31  29.359091  29.618182  28.970909  29.271818  3.771323e+07
2015-08-31  28.329048  28.761429  28.000000  28.366190  3.346332e+07
2015-09-30  29.011905  29.377143  28.796667  29.100952  3.207734e+07
2015-10-31  32.712273  33.149545  32.462273  32.938182  3.158262e+07
2015-11-30  33.600500  33.946000  33.357500  33.686000  2.249887e+07
2015-12-31  34.807273  35.067273  34.488636  34.770909  1.942784e+07
2016-01-31  31.226316  31.582632  30.852632  31.195263  3.213722e+07
2016-02-29  29.215500  29.544000  28.846000  29.211000  2.602951e+07
2016-03-31  31.492727  31.772273  31.215909  31.581818  2.129474e+07
2016-04-30  31.701905  31.934762  31.420476  31.681905  2.430505e+07
2016-05-31  30.345238  30.590952  30.142381  30.376190  2.046748e+07
2016-06-30  31.805000  32.096364  31.618636  31.900000  2.206271e+07
2016-07-31  34.329000  34.598500  34.151500  34.463000  2.652644e+07
2016-08-31  34.967391  35.184348  34.792174  35.030870  1.699533e+07
2016-09-30  36.716667  36.981905  36.403810  36.732381  2.411915e+07
2016-10-31  36.630476  36.827143  36.289524  36.525238  2.245953e+07
2016-11-30  34.805714  35.052857  34.507619  34.798571  1.964044e+07
2016-12-31  36.054286  36.360000  35.767619  36.096190  1.932890e+07
2017-01-31  36.941500  37.195500  36.696500  36.924000  2.282080e+07
2017-02-28  36.253158  36.421579  35.916842  36.221053  2.513427e+07
2017-03-31  35.536957  35.740435  35.263478  35.520000  2.374585e+07
2017-04-30  36.134737  36.394737  35.928947  36.153684  2.337486e+07
2017-05-31  36.079545  36.309091  35.847273  36.079091  1.968851e+07
2017-06-30  35.252273  35.438636  34.945455  35.169091  2.270252e+07
2017-07-31  34.356000  34.653000  34.173000  34.438000  2.204303e+07
2017-08-31  35.614348  35.815652  35.361739  35.586957  2.162188e+07
2017-09-30  36.453500  36.783500  36.248500  36.601500  2.161116e+07
2017-10-31  40.411364  40.812273  40.137727  40.594545  2.879057e+07
2017-11-30  45.547143  45.876667  45.137143  45.549048  2.761477e+07
2017-12-31  44.964000  45.347500  44.473500  44.976500  2.798784e+07

[144 rows x 5 columns]

In [121]:
y_vals = X_vals['Close'].shift(-1)

In [119]:
dates = X_vals.index