In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
intc_df = pd.read_csv('../data/INTC.csv')

In [19]:
null_df = intc_df[intc_df.Volume.isna()]

In [7]:
intc_df.describe()

              Open         High          Low       Close        Volume
count  3019.000000  3019.000000  3019.000000  3019.00000  3.019000e+03
mean     25.396744    25.659096    25.142136    25.40789  4.919834e+07
std       6.715544     6.728572     6.700110     6.72870  2.817910e+07
min      12.170000    12.630000    12.050000    12.08000  5.893789e+06
25%      20.645000    20.880000    20.415000    20.66000  2.736445e+07
50%      23.600000    23.860000    23.320000    23.58000  4.519099e+07
75%      30.810000    31.105000    30.500000    30.85500  6.363350e+07
max      47.540000    47.640000    46.660000    47.56000  3.100734e+08

In [20]:
null_df

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Name]
Index: []

In [21]:
intc_df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Name      0
dtype: int64